# Ignore the virtual environment directory
venv/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore the instance folder (used for local settings)
instance/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
